/* Style for the dynamic header row that contains the group info */
#table-header-info {
    text-align: left;
    font-weight: bold;
    background-color: #fff; /* Match page background, or choose another color */
    border: none; /* Remove border for a cleaner look */
}

/* Style for rows of disabled items */
.disabled-item {
    text-decoration: line-through;
}

/* Style for the section header rows */
.section-header {
    background-color: #d3d3d3; /* A light grey background */
    font-weight: bold;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}