/* --- Global Styles --- */
body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 12in;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

input {
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

h1 {
    color: #333;
}

.report-name {
    display: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
    -webkit-print-color-adjust: exact; /* For Chrome, Safari, etc. */
    print-color-adjust: exact;         /* Standard property */
}

th {
    background-color: #e0e0e0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

#error { color: red; }
#loading { color: #0056b3; }










/* --- Print-Friendly Styles --- */
@media print {
    body {
        background-color: #fff;
        margin: 0;
        width: 100vw;
    }

    .container {
        box-shadow: none;
        border: 0;
        max-width: 100%;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .container.control-box {
        display: none;
    }


    /* Ensure results table fills the page width */
    #results, #results table {
        width: 100%;
        max-width: 100%;
        overflow: none;
    }

    .report-name {
        display: inline;
    }

    /* Reduce font size and padding for tables when printing */
    table, th, td {
        font-size: 9pt;
        padding: 8px;
    }

    tbody tr { break-inside: avoid; }

}